In [3]:
# Must be included at the beginning of each new notebook. Remember to change the app name.
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

df = spark.read.option("inferSchema","true").csv('Datasets/FAOSTAT_data_10-9-2020 (4).csv',header=True)

df.show()

df.columns

+---------+-----------+---------+--------------------+----+------+------+
|Area Code|       Area|Item Code|                Item|Year|  Unit| Value|
+---------+-----------+---------+--------------------+----+------+------+
|        2|Afghanistan|       30|Rice, paddy (rice...|1961|tonnes|212773|
|        2|Afghanistan|       30|Rice, paddy (rice...|1962|tonnes|212773|
|        2|Afghanistan|       30|Rice, paddy (rice...|1963|tonnes|212773|
|        2|Afghanistan|       30|Rice, paddy (rice...|1964|tonnes|253460|
|        2|Afghanistan|       30|Rice, paddy (rice...|1965|tonnes|253460|
|        2|Afghanistan|       30|Rice, paddy (rice...|1966|tonnes|224779|
|        2|Afghanistan|       30|Rice, paddy (rice...|1967|tonnes|264132|
|        2|Afghanistan|       30|Rice, paddy (rice...|1968|tonnes|268134|
|        2|Afghanistan|       30|Rice, paddy (rice...|1969|tonnes|271469|
|        2|Afghanistan|       30|Rice, paddy (rice...|1970|tonnes|244122|
|        2|Afghanistan|       30|Rice, paddy (rice...|1971|tonnes|233450|
|        2|Afghanistan|       30|Rice, paddy (rice...|1972|tonnes|266800|
|        2|Afghanistan|       30|Rice, paddy (rice...|1973|tonnes|280140|
|        2|Afghanistan|       30|Rice, paddy (rice...|1974|tonnes|280140|
|        2|Afghanistan|       30|Rice, paddy (rice...|1975|tonnes|290145|
|        2|Afghanistan|       30|Rice, paddy (rice...|1976|tonnes|298816|
|        2|Afghanistan|       30|Rice, paddy (rice...|1977|tonnes|266800|
|        2|Afghanistan|       30|Rice, paddy (rice...|1978|tonnes|285476|
|        2|Afghanistan|       30|Rice, paddy (rice...|1979|tonnes|292813|
|        2|Afghanistan|       30|Rice, paddy (rice...|1980|tonnes|276805|
+---------+-----------+---------+--------------------+----+------+------+
only showing top 20 rows

['Area Code', 'Area', 'Item Code', 'Item', 'Year', 'Unit', 'Value']

In [20]:
df.describe().show()

+-------+------------------+-----------+---------+--------------------+------------------+------+--------------------+
|summary|         Area Code|       Area|Item Code|                Item|              Year|  Unit|               Value|
+-------+------------------+-----------+---------+--------------------+------------------+------+--------------------+
|  count|              6928|       6928|     6928|                6928|              6928|  6928|                6792|
|   mean|124.40487875288683|       null|     30.0|                null|1990.3874133949191|  null|   3745550.433451119|
| stddev|  75.1041693359182|       null|      0.0|                null|16.733908742773423|  null|1.6155710369189173E7|
|    min|                 1|Afghanistan|       30|Rice, paddy (rice...|              1961|tonnes|                   0|
|    max|               351|   Zimbabwe|       30|Rice, paddy (rice...|              2018|tonnes|           143024843|
+-------+------------------+-----------+---------+--------------------+------------------+------+--------------------+

In [11]:
df.printSchema()

root
 |-- Area Code: string (nullable = true)
 |-- Area: string (nullable = true)
 |-- Item Code: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Unit: string (nullable = true)
 |-- Value: string (nullable = true)

In [28]:
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [57]:
from pyspark.sql import functions as F
df_a = df.agg(*[F.count(F.when(F.isnull(c),c)).alias(c) for c in df.columns])

In [60]:
df_a.show()

+---------+----+---------+----+----+----+-----+
|Area Code|Area|Item Code|Item|Year|Unit|Value|
+---------+----+---------+----+----+----+-----+
|        0|   0|        0|   0|   0|   0|  136|
+---------+----+---------+----+----+----+-----+

In [59]:
df.na.drop().show()

+---------+-----------+---------+--------------------+----+------+------+
|Area Code|       Area|Item Code|                Item|Year|  Unit| Value|
+---------+-----------+---------+--------------------+----+------+------+
|        2|Afghanistan|       30|Rice, paddy (rice...|1961|tonnes|212773|
|        2|Afghanistan|       30|Rice, paddy (rice...|1962|tonnes|212773|
|        2|Afghanistan|       30|Rice, paddy (rice...|1963|tonnes|212773|
|        2|Afghanistan|       30|Rice, paddy (rice...|1964|tonnes|253460|
|        2|Afghanistan|       30|Rice, paddy (rice...|1965|tonnes|253460|
|        2|Afghanistan|       30|Rice, paddy (rice...|1966|tonnes|224779|
|        2|Afghanistan|       30|Rice, paddy (rice...|1967|tonnes|264132|
|        2|Afghanistan|       30|Rice, paddy (rice...|1968|tonnes|268134|
|        2|Afghanistan|       30|Rice, paddy (rice...|1969|tonnes|271469|
|        2|Afghanistan|       30|Rice, paddy (rice...|1970|tonnes|244122|
|        2|Afghanistan|       30|Rice, paddy (rice...|1971|tonnes|233450|
|        2|Afghanistan|       30|Rice, paddy (rice...|1972|tonnes|266800|
|        2|Afghanistan|       30|Rice, paddy (rice...|1973|tonnes|280140|
|        2|Afghanistan|       30|Rice, paddy (rice...|1974|tonnes|280140|
|        2|Afghanistan|       30|Rice, paddy (rice...|1975|tonnes|290145|
|        2|Afghanistan|       30|Rice, paddy (rice...|1976|tonnes|298816|
|        2|Afghanistan|       30|Rice, paddy (rice...|1977|tonnes|266800|
|        2|Afghanistan|       30|Rice, paddy (rice...|1978|tonnes|285476|
|        2|Afghanistan|       30|Rice, paddy (rice...|1979|tonnes|292813|
|        2|Afghanistan|       30|Rice, paddy (rice...|1980|tonnes|276805|
+---------+-----------+---------+--------------------+----+------+------+
only showing top 20 rows

In [61]:
import pandas as pd
import numpy as np

df = df.dropna()

In [1]:
# Must be included at the beginning of each new notebook. Remember to change the app name.
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('linear_regression_adv').getOrCreate()

# If you're getting an error with numpy, please type 'sudo pip install numpy --user' into the EC2 console.
from pyspark.ml.regression import LinearRegression

In [4]:
df.head()

Row(Area Code=2, Area='Afghanistan', Item Code=30, Item='Rice, paddy (rice milled equivalent)', Year=1961, Unit='tonnes', Value=212773)

In [7]:
# Import VectorAssembler and Vectors
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [62]:
# The input columns are the feature column names, and the output column is what you'd like the new column to be named. 
assembler = VectorAssembler(
    inputCols=["Year", 
               "Value"],
    outputCol="features")

In [63]:
output = assembler.transform(df)

In [64]:
output.printSchema()
output.head(1)

root
 |-- Area Code: integer (nullable = true)
 |-- Area: string (nullable = true)
 |-- Item Code: integer (nullable = true)
 |-- Item: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Unit: string (nullable = true)
 |-- Value: integer (nullable = true)
 |-- features: vector (nullable = true)

[Row(Area Code=2, Area='Afghanistan', Item Code=30, Item='Rice, paddy (rice milled equivalent)', Year=1961, Unit='tonnes', Value=212773, features=DenseVector([1961.0, 212773.0]))]

In [ ]:
final_data = output.select("features",'Value')
final_data.show()

In [74]:
train_data,test_data = final_data.randomSplit([0.7,0.3])

In [75]:

train_data.describe().show()

# And our testing data.
test_data.describe().show()

+-------+--------------------+
|summary|               Value|
+-------+--------------------+
|  count|                4685|
|   mean|  3636518.0104589113|
| stddev|1.5866126040922618E7|
|    min|                   0|
|    max|           143024843|
+-------+--------------------+

+-------+-------------------+
|summary|              Value|
+-------+-------------------+
|  count|               2107|
|   mean|  3987988.450403417|
| stddev|1.678302685204894E7|
|    min|                  0|
|    max|          141858745|
+-------+-------------------+

In [76]:
lr = LinearRegression(labelCol="Value")

In [77]:
lrModel = lr.fit(train_data)
print("Coefficients: {} Intercept: {}".format(lrModel.coefficients,lrModel.intercept))

Coefficients: [-1.2832395156915681e-11,1.0000000000000002] Intercept: 2.4559663062424133e-08

In [78]:
test_results = lrModel.evaluate(test_data)

In [79]:
test_results.residuals.show()

# Let's get some evaluation metrics (as discussed in the previous linear regression notebook).
print("RSME: {}".format(test_results.rootMeanSquaredError))

+--------------------+
|           residuals|
+--------------------+
|6.046434464224149...|
|6.04586603003554E-10|
|6.04586603003554E-10|
|6.041318556526676...|
|6.041318556526676...|
|6.041318556526676...|
|6.043592293281108...|
|6.043592293281108...|
|6.043592293281108...|
|6.043592293281108...|
|6.020854925736785...|
|6.020854925736785...|
|6.020854925736785...|
|6.020854925736785...|
|6.020854925736785...|
|6.020854925736785...|
|6.002665031701326...|
|6.002665031701326...|
|6.002665031701326...|
|6.002665031701326...|
+--------------------+
only showing top 20 rows

RSME: 3.981915738057245e-09

In [80]:
# We can also get the R2 value. 
print("R2: {}".format(test_results.r2))

R2: 1.0

In [81]:
final_data.describe().show()

+-------+--------------------+
|summary|               Value|
+-------+--------------------+
|  count|                6792|
|   mean|   3745550.433451119|
| stddev|1.6155710369189173E7|
|    min|                   0|
|    max|           143024843|
+-------+--------------------+